* {
    margin: 0;
    padding: 0;
}

*, ::after, ::before {
    box-sizing: border-box;
}

@font-face {
    font-family: 'Press Start 2P';
    src: local('Press Start 2P'), url(../fonts/PressStart2P-Regular.ttf);
}

@font-face {
    font-family: 'Roboto';
    src: local('Roboto'), url(../fonts/Roboto-Regular.ttf);
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: local('Roboto'), url(../fonts/Roboto-Medium.ttf);
    font-weight: 500;
    font-style: normal;
}

body {
    font-family: 'Press Start 2P';
    background-color: #7289da;
}

#root {
    width: 640px;
    box-shadow: inset 0 0 10px #fff;
    border-radius: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -480px 0 0 -320px;
    background: #a8a9a4;
}

.game {
    width: 480px;
    padding: 31px 0 31px;
    border: solid #4f545c;
    border-width: 0 10px 10px;
    margin: 0 auto;
    position: relative;
}

.game-screen {
    margin: 0 auto;
    position: relative;
    width: 385px;
    height: 490px;
    overflow: hidden;
    border: 5px solid;
    border-color: #72767d #a9a8a8 #d5d5d5 #a9a9a9;
    background-color: #36393e;
}

.game-controls {
    width: 580px;
    height: 330px;
    margin: 25px auto 0;
    position: relative;
}

.game-controls-button {
    text-align: center;
    color: #111;
    position: absolute;
    white-space: nowrap;
    line-height: 1.6;
    font-size: 16px;
}

.game-pause-button {
    position: absolute;
    top: 0px;
    right: 120px;
}

.game-reset-button {
    position: absolute;
    top: 0px;
    right: 28px;
}

.game-rotation-button {
    position: absolute;
    top: 0px;
    right: 374px;
}

.game-drop-button {
    position: absolute;
    top: 100px;
    right: 30px;
}

.title {
    font-size: 24px;
    position: absolute;
    left: 40%;
    top: -8px;
    max-width: 225px;
    text-align: center;
}

.top-border {
    position: absolute;
    width: 100%;
    left: 0;
    height: 10px;
    top: 0;
    overflow: hidden;
}

.top-border span {
    display: block;
    width: 120px;
    height: 10px;
    overflow: hidden;
    background: #4f545c;
}

.arrow {
    display: block;
    width: 0;
    height: 0;
    border: 8px solid;
    border-color: transparent transparent #23272a;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -12px 0 0 -8px;
}

.arrow-up {
    transform: translate(0px, 63px) scale(1, 2);
}

.arrow-down {
    transform: translate(0px, -71px) rotate(180deg) scale(1, 2);
}

.arrow-right {
    transform: translate(-60px,-12px) rotate(90deg) scaleY(2);
}

.arrow-left {
    transform: translate(60px, -12px) rotate(270deg) scale(1, 2);
}

.game-left-button {
    position: absolute;
    top: 90px;
    right: 464px;
}

.game-right-button {
    position: absolute;
    top: 90px;
    right: 284px;
}

.game-down-button {
    position: absolute;
    top: 180px;
    right: 374px;
}

.pause-button, .reset-button {
    width: 52px;
    height: 52px;
}

.drop-button {
    width: 160px;
    height: 160px;
}

.rotation-button, .left-button, .right-button, .down-button {
    width: 100px;
    height: 100px;
}

.rotation-text {
    position: absolute;
    top: 5px;
    right: 102px;
}

.view {
    position: absolute;
    right: -70px;
    top: 20px;
    width: 44px;
}

.view.left {
    right: auto;
    left: -70px; 
}

.view span {
    display: block;
    width: 20px;
    height: 20px;
    border: 2px solid #f9fafb;
    border-radius: 5px;
    float: left;
}

.view .tranparent {
    width: 20px;
    height: 20px;
    overflow: hidden;
    float: left;
    border: none;
}

.view .space {
    height: 30px;
    clear: both;
}

h1 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
}

h1 span {
    margin: 0 -8px;
}

.red {
    background: #eb2325;
}

.orange {
    background: #ff7f26;
}

.yellow {
    background: #ffc90d;
}

.green {
    background: #23b14d;
}

.light-blue {
    background: #01a2e8;
}

.blue {
    background: #3f46cb;
}

.purple {
    background: #a349a3;
}

.white {
    background: #f9fafb;
}

button {
    display: block;
    position: relative;
    box-shadow: 0 1px 2px 0 rgb(34, 36, 38, .15), inset 0 -10px 6px 0 rgb(34, 36, 38, .35);
    border: 1px solid rgba(34, 36, 38, .3);
    border-radius: 50%;
    transition: 0.1s ease-out;
    cursor: pointer;
}

button:active {
    box-shadow: 0 1px 2px 0 rgb(34, 36, 38, .15), inset 0 10px 6px 0 rgb(34, 36, 38, .35);
}

.clear {
    clear: both;
}

button:active, button:focus {
    outline: none;
}

.game-screen canvas {
    display: block;
    transform: scale(.751);
    background-color: #36393e;
    position: absolute;
    top: -80px;
    left: -62px;
}

span {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
}

.unselectable {
    user-select: none;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}